.shop {
  background-color: #ffffff;
}

.imageGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 6px;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.imageContainer {
  width: 100%;
  height: auto;
  transition: transform 0.2s ease-in-out;
}

.imageContainer:nth-child(5) {
  grid-column: span 4;
  margin-top: 10px;
}

.imageContainer:nth-child(5) .image {
  width: 100%;
  height: auto;
}
